# EDA

In [1]:
import pandas as pd
import numpy as np
import cv2
import os
import matplotlib.pyplot as plt
import copy

In [2]:
# Train List

train_list = pd.read_csv('../COMP90086_2023_TLLdataset 2/train.csv')

In [3]:
train_list

     left right
0     aaa   osr
1     aaz   mqw
2     abh   cdx
3     abn   uzp
4     abq   bbd
...   ...   ...
1995  zyn   egp
1996  zzc   pjk
1997  zzu   fxo
1998  zzv   goh
1999  zzy   yqv

[2000 rows x 2 columns]

In [ ]:
for i in range(len(train_list['left'])):
    ax = plt.subplot(1, 2, 1)
    img1 = cv2.imread(f'../COMP90086_2023_TLLdataset 2/train/left/{train_list.iloc[i, 0]}.jpg')
    plt.imshow(img1)

    ax = plt.subplot(1, 2, 2)
    img2 = cv2.imread(f'../COMP90086_2023_TLLdataset 2/train/right/{train_list.iloc[i, 1]}.jpg')
    plt.imshow(img2)
    plt.show()